/* Ceci est appliqué pour toute la page internet */
*{
    margin: 0;
    padding: 0;
}

/* Maintenant il s'agit du style du header */
.topcolor{
    background-color: lightgrey;
    height: 70px;
}
.container{
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;

}
.searchbar{
    display: flex;
    background: lightgray;
    border-radius: 37px;
    width: auto;
    height: 35px;
    border-left: 30;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.searchbar input{ 
    width: 250px;
    height: 20px;
    align-self: center;
    border-radius: 37px;
    border : none;
    text-align: center;
}
.searchbar button{
    align-self: center; 
    background: none;
    border: none;
    margin-right: 10px;
    margin-top:5px ;
}
.menu{
    color: black;
}
.icons a{
    color: black;
}
body{
    text-align:center;
}

.info{
    min-width: 350px;
    min-height:40px;
    background-color:rgb(219, 219, 219);
    border-radius: 15px;
    border:0 ;
}
h1{
    max-width: 600px;
    max-height:50px;
    background-color:rgb(219, 219, 219);
    border-radius: 15px;
    border:0 ;
    margin-left: 30%;
}
h4{
    min-width: 450px;
    max-height:50px;
    background-color:rgb(219, 219, 219);
    border-radius: 15px;
    border:0 ;
}

.Commentaire{
    border-radius: 15px;
    width: 600px;
    height: 200px;
    border-width: 20px;
    border-color: rgb(219, 219, 219);
    justify-content: space-between;
}

.submit{
    min-width: 250px;
    min-height: 25px;
    background-color:rgb(17, 165, 255);
    text-align: center; color: aliceblue;
    border-radius: 15px;
    border:0 ;
    margin-bottom: 3%;
}