*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

.topcolor{
    background-color: lightgrey;
    height: 70px;
}
.container{
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
}

/* SEARCHBAR */
.searchbar {
    display: flex;
    background: lightgray;
    border-radius: 37px;
    width: auto;
    height: 35px;
    border-left: 30;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    top: 0px;
}
.searchcontainer ul {
    list-style-type: none;
}
.searchcontainer ul li {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
}
.searchcontainer a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 0px;
}
.searchcontainer a:hover {
    color: deepskyblue;
}
#search-list {
    box-shadow: 5px #CCC;
    background-color: transparent;
    position: absolute;
    width: auto;
    z-index: 1000;
}
#search-list li {
    float: none;
    width: auto;
    text-align: left;
}

.searchbar input {
    width: 250px;
    height: 20px;
    align-self: center;
    border-radius: 37px;
    padding-left: 5px;
    border: none;
    outline: none;
    text-align: left;
}

.searchbar button {
    align-self: center;
    background: none;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
}

.searchbar button:hover {
    cursor: pointer;
}
/* FIN SEARCHBAR */
.menu{
    color: black;
}
.icons a{
    color: black;
}

.espace0{
    display:flex;
    margin:70px;
}

.monpanier{
    margin-left: 100px;
    margin-bottom: 50px;
}

#conteneur1 {
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    height: 100px;
}

#blockpanier {
    display: flex;
    border: 3px solid black;
    border-radius: 30px;
    height: 300px;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    

}

#imgyvypark {
    height: 150px;
    display: flex;
}

#padidasyvy {
    text-align: center;
}

#taille {
    display: flex;
    align-items: center;
    text-align: center;
    margin:15px;
}

#quantité {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px;
}

#textpanier {
    text-align: center;
}

#labelcodepromo {
    display: flex;
    justify-content: center;
}

#navbarcodepromo {
    border: 2px solid black;
    display: flex;
    height: 30px;
    text-align: center;
}

#buttoncodepromo {
    border: 1px solid;
    display: flex;
    height: 30, 5px;
    background-color: black;
    padding: 5px;
}

#boutoncodepromo {
    background-color: black;
    border: none;
    color: white;
}

#blocpaiement {
    display: flex;
    justify-content:right;
    margin-left:66%;
    width:500px;
}


#validerlepanier {
    display: block;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 150px;
}

#total {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    word-spacing: 30px;
}

#select {
    display: flex;
    border: ridge;
    border-radius: 10%;
    width: 70px;
    height: 30px;
    background-color: transparent;
}

#selectnumber {
    display: flex;
    border: ridge;
    border-radius: 10%;
    width: 65px;
    height: 25px;
    background-color: transparent;
}

#poubelle {
    display: flex;
    height: 35px;
    position: absolute; 
    right: 200px;
    bottom: 290px;
}

#coeur{
        display: flex;
        height: 45px;
        position: absolute; 
        right: 130px;
        bottom: 285px;
}

.espacecodepromo{
    margin:20px;
}

.footer{
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction:column ;
}
/* partie du footer avec infos paiement */
.paiement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
    margin-bottom: 5px; 
}
.paiement img{
    margin: 0 20px
}

/* partie concernant les réseaux sociaux ainsi que Newletters et contact */

.social_contact{
    display: flex;
    background: lightgrey;
}
.social_contact div{
    width: 33%;
}
/* partie reseaux */
.p{
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

/* partie newletter */
.newletter{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mailinput{
    display: flex;
    justify-content: center;
}
.newletter h1{
    font-size: medium;
    margin-bottom: 10px;
}
.mailinput input{
    width: 250px;
    align-items: center;
    border : none;
    outline: none;
    text-align: center;
    padding: 5px;
}
.mailinput button{
    align-self: center; 
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
}
.newletter p{
    margin-top: 10px;
}
/* partie localisation */
.contact{
    display: flex;
    justify-content: center;
}
.contactin{
    display: flex;
    align-items: center;
    text-align: left;
}
.contact a{
    margin-right: 5px;
}

/* Partie concernant les CGV et les copyright */
.cgv{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.cgv div{
    width: 33%;
}
.copyright{
    display: flex;
    justify-content: center;
}

/*partie menu déroulant icon */

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 150%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
    width: 250%;
    margin-left: -60px;
    background-color: lightgrey;
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
    visibility: hidden;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}


/* Fin de menu déroulant icon */

.Actif{
    color: deepskyblue;
}