/* Ceci est appliqué pour toute la page internet */
*{
    margin: 0;
    padding: 0;
}

/*style du header */
.topcolor{
    background-color: lightgrey;
    height: 70px;
}
.container{
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;

}
.searchbar{
    display: flex;
    background: lightgray;
    border-radius: 37px;
    width: auto;
    height: 35px;
    border-left: 30;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.searchbar input{ 
    width: 250px;
    height: 20px;
    align-self: center;
    border-radius: 37px;
    padding-left: 5px;
    border : none;
    outline: none;
    text-align: left;
}
.searchbar button{
    align-self: center; 
    background: none;
    border: none;
    margin-right: 10px;
    margin-top:5px ;
}
.menu{
    color: black;
}
.icons a{
    color: black;
}
/* fin header */



/* slider */
.backgroundslider{
    display: flex;
    justify-content: center;
}
.slider{
    width: 1050px;
    overflow: hidden;
}
.slides{
    width: calc(1050px*3);
    animation: glisse 10s infinite;
}
.slide{
    float: left;
}

@keyframes glisse {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-1050px);
    }
    43%{
        transform: translateX(-1050px);
    }
    66%{
        transform: translateX(-2100px);
    }
    76%{
        transform: translateX(-2100px);
    }
    100%{
        transform: translateX(0);
    }
}
/* fin slider */

/* partie profil utilisateur et toutes les pages qui vont avec */
/* partie gauche avec liste */
.bloc{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.bloc input{
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 5px;
    text-align: left;
}
.moncompte{
    flex-direction: column;
    margin-right: 50px;
}
.h2compte{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
}
.liste{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;
}
/* partie droite avec les inputs */
.inputinfos{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 37px;
    padding: 25px;
    width: 487px;
    height: 534px;
}
.inputinfos button{
    background:DeepSkyBlue;
    padding: 10px;
    margin: 15px 0;
    max-width: fit-content;
    border: none;
    border-radius: 15px;
    color: white;
}
.inputinfos h1{
    margin-bottom: 20px;
}
.inputinfos h2{
    margin-top: 20px;
}
.bloc hr{
    max-width: 500px;
    margin-bottom: 20px;
    background-color: black;
}
.infoperso{
    display: flex;
    flex-direction: column;
}
.infoperso input{
    margin-bottom: 10px;
}
.infoco{
    display: flex;
    flex-direction: column;
}
.infoco input{
    margin-bottom: 10px;
    max-width: fit-content;
}


/* fin partie utilisateur */

/* Partie adresses */

/* Fin partie adresses */


/* Partie du style pour le footer */
.footer{
    margin-top: 20px;  
    padding: 0;
    display: flex;
    flex-direction:column ;
}
/* partie du footer avec infos paiement */
.paiement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
    margin-bottom: 5px; 
}
.paiement img{
    margin: 0 20px
}

/* partie concernant les réseaux sociaux ainsi que Newletters et contact */

.social_contact{
    display: flex;
    background: lightgrey;
}
.social_contact div{
    width: 33%;
}
/* partie reseaux */
.p{
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/* partie newletter */
.newletter{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mailinput{
    display: flex;
    justify-content: center;
}
.newletter h1{
    font-size: medium;
    margin-bottom: 10px;
}
.mailinput input{
    width: 250px;
    align-items: center;
    border : none;
    outline: none;
    text-align: center;
    padding: 5px;
}
.mailinput button{
    align-self: center; 
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
}
.newletter p{
    margin-top: 10px;
}
/* partie localisation */
.contact{
    display: flex;
    justify-content: center;
}
.contactin{
    display: flex;
    align-items: center;
    text-align: left;
}
.contact a{
    margin-right: 5px;
}

/* Partie concernant les CGV et les copyright */
.cgv{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.cgv div{
    width: 33%;
}
.copyright{
    display: flex;
    justify-content: center;
}