/* Ceci est appliqué pour toute la page internet */
*{
    margin: 0;
    padding: 0;
}

/*style du header */
.topcolor{
    background-color: lightgrey;
    height: 70px;
}
.container{
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;

}
.searchbar{
    display: flex;
    background: lightgray;
    border-radius: 37px;
    width: auto;
    height: 35px;
    border-left: 30;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.searchbar input{ 
    width: 250px;
    height: 20px;
    align-self: center;
    border-radius: 37px;
    padding-left: 5px;
    border : none;
    outline: none;
    text-align: left;
}
.searchbar button{
    align-self: center; 
    background: none;
    border: none;
    margin-right: 10px;
    margin-top:5px ;
}
.menu{
    color: black;
}
.icons a{
    color: black;
}
/* fin header */



/* slider */
.backgroundslider{
    display: flex;
    justify-content: center;
}
.slider{
    width: 1050px;
    overflow: hidden;
}
.slides{
    width: calc(1050px*3);
    animation: glisse 10s infinite;
}
.slide{
    float: left;
}

@keyframes glisse {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-1050px);
    }
    43%{
        transform: translateX(-1050px);
    }
    66%{
        transform: translateX(-2100px);
    }
    76%{
        transform: translateX(-2100px);
    }
    100%{
        transform: translateX(0);
    }
}
/* fin slider */

/* partie profil utilisateur et toutes les pages qui vont avec */
/* bloc gauche */
.bloc{
    display:flex ;
    justify-content: flex-start;
    margin-left: 400px;
}
    .bloc hr{
        margin: 15px 0;
    }
    .moncompte{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
        .h2compte{
            margin-bottom: 150px;
        }
            .liste{
                display: flex;
                flex-direction: column;
                margin-left: 25px;
            }
                .liste a{
                    text-decoration: none;
                    color: black;
                    margin-bottom: 10px;
                }
/* fin bloc gauche */
/* bloc renseignements */
.inputinfos{
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 30%;
    background: lightgrey;
    border-radius: 37px;
    margin-top: 150px
}
    .infoperso{
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
        .info1{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
            .info1 label{
                margin-bottom: 2px;
            }
            .info1 input{
                margin-bottom: 4px;
            }
        .info2{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
        .infoperso button{
            margin: 10px;
            padding: 5px;
            border-radius: 15px;
            border: none;
            outline: none;
            background: deepskyblue;
            color: white;
            text-align: center;
        }
        .infoperso button:hover{
            opacity: 0.75;
            cursor: pointer;
        }
    .infoco{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .info3{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
            .info3 label{
                margin-bottom: 2px;
            }
            .info3 input{
                margin-bottom: 4px;
            }
        .infoco button{
            margin: 10px;
            padding: 5px;
            border-radius: 15px;
            border: none;
            outline: none;
            background: deepskyblue;
            color: white;
            text-align: center;
        }
        .infoco button:hover{
            opacity: 0.75;
            cursor: pointer;
        }
/* fin bloc renseignements */

/* bloc adresses */
        .adresse1{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
            .adresse1 label{
                margin-bottom: 2px;
            }
            .adresse1 input{
                margin-bottom: 4px;
            }
        .adresse2{
            display: flex;
            flex-direction: column;
            width: fit-content;
        }
            .adresse2 label{
                margin-bottom: 2px;
            }
            .adresse2 input{
                margin-bottom: 4px;
            }
/* fin bloc adresses */
/* fin partie utilisateur */

/* Partie commandes */
.inputcommande{
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 55%;
    background: lightgrey;
    border-radius: 37px;
    margin-top: 150px
}
    .commandtab{
        display: flex;
        justify-content: space-around;
        padding: 25px;
        background: white;
        border-radius: 37px;
        margin-top: 20px;
    }
        .colarticle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .colquant{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .colprix{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .coletat{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
/* Fin partie commandes */


/* Partie du style pour le footer */
.footer{
    margin-top: 20px;  
    padding: 0;
    display: flex;
    flex-direction:column ;
}
/* partie du footer avec infos paiement */
.paiement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
    margin-bottom: 5px; 
}
.paiement img{
    margin: 0 20px
}

/* partie page contact+map */
.bloccontact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divcontact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 50%;
}
.bloccontact h1{
    border: none;
    outline: none;
    background: lightgrey;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 5px;
    max-width: fit-content;
}
.inputcontact label{
    margin-right: 10px;
}
.inputcontact input{
    border: none;
    outline: none;
    background: whitesmoke;
    max-width: fit-content;
    margin-bottom: 25px;
    margin-right: 15px;
}
.bloccontact label{
    font-weight: bolder;
    color: black;
    align-self: flex-start;
}
.bloccontact h3{
    border: none;
    outline: none;
    background: lightgrey;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 5px;
}
.divtext{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.divtext textarea{
    border: none;
    outline: none;
    background: whitesmoke;
}
.divtext .submit{
    background:DeepSkyBlue;
    padding: 10px;
    margin: 15px 0;
    max-width: fit-content;
    border: none;
    border-radius: 15px;
    color: white;
}
.divtext .submit:hover{
    opacity: 0.75;
    cursor: pointer;
}
.divmap{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 50%;
}
.divmap iframe{
    margin-bottom: 25px;
}
/* fin partie page contact */


/* partie concernant les réseaux sociaux ainsi que Newletters et contact */

.social_contact{
    display: flex;
    background: lightgrey;
}
.social_contact div{
    width: 33%;
}
/* partie reseaux */
.p{
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/* partie newletter */
.newletter{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mailinput{
    display: flex;
    justify-content: center;
}
.newletter h1{
    font-size: medium;
    margin-bottom: 10px;
}
.mailinput input{
    width: 250px;
    align-items: center;
    border : none;
    outline: none;
    text-align: center;
    padding: 5px;
    background: whitesmoke;
}
.mailinput button{
    align-self: center; 
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
}
.newletter p{
    margin-top: 10px;
}
/* partie localisation */
.contact{
    display: flex;
    justify-content: center;
}
.contactin{
    display: flex;
    align-items: center;
    text-align: left;
}
.contact a{
    margin-right: 5px;
}

/* Partie concernant les CGV et les copyright */
.cgv{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.cgv div{
    width: 33%;
}
.copyright{
    display: flex;
    justify-content: center;
}

/* partie area contact */

.Commentaire{
    text-align: center;
    height: 200px;
    width: 500px;
}